#about-container {
  padding: 30px 30px;
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: justify;
  backdrop-filter: blur(10px) brightness(60%);
  border: var(--border);
  border-radius: 20px;
}

#about-header {
  font-size: 4rem;
  color: var(--color3);
}

.about-body {
  font-size: 1rem;
}
