#about-container {
  width: 100%;
  display: grid;
  place-items: center;
}
#about-wrapper {
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
#blur-container {
  position: absolute;
  top: 0;
  right: 0;
  aspect-ratio: 1/1;
  width: 30vw;
  background-color: rgb(52, 52, 96);
  border-radius: 50%;
  filter: blur(100px);
}
#about-header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 5vh 0;
  gap: 5vh;
}
#about-heading {
  font-size: 4vw;
  font-family: var(--font);
  word-spacing: 1.5vw;
}
#about-text-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2vw;
  padding-bottom: 5vh;
}
#about-left {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
#about-text-main {
  font-size: 1.01rem;
}
#about-text {
  color: #b5b4b4;
}
#about-right {
  position: relative;
  display: grid;
  place-items: center;
}
#about-img {
  height: 100%;
  width: 50%;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
}
#about-right-text {
  position: absolute;
  bottom: 0;
  font-family: var(--font);
  font-size: 2vw;
}
#about-skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2vh;
  padding: 5vh 0;
}
#about-skilles-left {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1vw;
  place-items: center;
}
#skill-img {
  aspect-ratio: 1/1;
  width: 100px;
}
#about-skilles-right {
  display: flex;
  align-items: center;
}
#about-skill-heading {
  font-family: var(--font);
  font-size: 3vw;
  word-spacing: 1.5vw;
}
@media (orientation: portrait) {
  #about-header {
    height: 50vh;
  }
  #about-text-container {
    display: flex;
    flex-direction: column-reverse;
  }
  #about-right {
    margin-bottom: 5vh;
  }
  #about-skills {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: none;
    gap: 0;
  }
  #skill-img {
    width: 50px;
  }
}
