#leftbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 3vh;
  position: sticky;
  bottom: 0;
  left: 0;
  top: 70px;
  height: calc(100vh - 70px);
}

#leftbar-hr {
  transform: translateY(10vh) rotate(90deg);
  width: 20vh;
}

.leftbar-icon {
  font-size: 1.4rem;
}

#leftbar-div {
  height: 20vh;
  width: 1px;
  background-color: var(--color6);
}
