#home-container {
  padding: 10% 10%;
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 100%;
  gap: 30px;
  backdrop-filter: blur(10px) brightness(60%);
  border: var(--border);
  border-radius: 20px;
}

.home-children {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#home-title {
  font-size: 4rem;
}

#home-title > span {
  color: var(--color3);
}

#home-text {
  font-size: 1.2rem;
  color: grey;
}
