#home-container {
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  padding: 0 10vw;
}

.home-children {
  display: flex;
  flex-direction: column;
}

.home-children:nth-child(3) {
  width: 50%;
}
#home-intro {
  color: var(--color10);
  font-family: var(--text2);
}

.home-title {
  font-size: 4rem;
  font-weight: 900;
}

#home-text {
  word-spacing: 3px;
  line-height: 1.5rem;
}

.home-title:first-child {
  color: var(--color7);
}

#home-button {
  padding: 20px 20px;
  border: 1px solid var(--color10);
  border-radius: 3px;
  color: var(--color10);
  font-size: 0.9rem;
  width: fit-content;
  font-family: var(--text2);
}
