#navbar-container {
  display: grid;
  place-items: center;
  height: 100vh;
  position: sticky;
  top: 0;
  right: 0;
  bottom: 0;
}

#navbar-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: var(--border);
  padding: 10px;
  border-radius: 50px;
  backdrop-filter: blur(10px) brightness(60%);
}

.navbar-children {
  display: grid;
  place-items: center;
  height: 40px;
  width: 40px;
  border: var(--border);
  border-radius: 50%;
  background-color: #1b1b1b;
  position: relative;
}

.navbar-desc {
  position: absolute;
  right: 4vw;
  opacity: 0;
  background-color: black;
  padding: 5px;
  border-radius: 5px;
  transition-duration: 0.3s;
}

.navbar-children:hover {
  cursor: pointer;
}

.navbar-children:hover > .navbar-desc {
  opacity: 1;
  transition-duration: 0.3s;
}
